export("%<>%")
export("%>%")
export(Hessian_LLE)
export(LLE2)
export(Laplacian_Eigenmaps)
export(Local_TSA)
export(center_and_standardise)
export(clusters_3d)
export(corner_planes)
export(gaussian_random_samples)
export(plotly_2D)
export(plotly_3D)
export(punctured_sphere)
export(run_example)
export(swiss_hole)
export(swiss_roll)
export(toroidal_helix)
export(twin_peaks)
importFrom(magrittr,"%<>%")
importFrom(magrittr,"%>%")
importFrom(spe, spe)
importFrom(RDRToolbox, Isomap)
importFrom(diffusionMap, diffuse)
importFrom(tsne, tsne)
importFrom(kernlab, kpca)
